<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <h1>Vehicle Details</h1>
<% } %>

<div>
  <%- view %>
</div>

<!-- UNIT 6 SORAYA SKAVINSKI PURCHASE BUTTON -->

<% if (locals.accountData && locals.accountData.account_type === "Client") { %>
  <form action="/purchase/buy/<%= vehicle.inv_id %>" method="POST">
    <button type="submit" class="buy-btn">Buy</button>
  </form>
<% } %>