<% if (message) { %>
  <div class="flash-message"><%= message %></div>
<% } %>

<h1>Inventory Management</h1>

<div class="inventory-actions">
    <p><a href="/inv/add-classification">Add New Classification</a></p>
    <p><a href="/inv/add-inventory">Add New Inventory</a></p>
</div>